.home {
  padding: 2rem 1rem;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1100px;
  width: 100%;
}

/* Hero Image */
.heroImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

/* Hero Text */
.heroText h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.heroText span {
  color: var(--active-color);
}

.heroText h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.heroText p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: var(--text-light);
}

/* Social Links */
.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.socialLinks a {
  font-size: 1.5rem;
  color: var(--active-color);
  transition: color 0.3s;
}

.socialLinks a:hover {
  color: var(--text-color);
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  padding: 0.7rem 1.2rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Primary Button */
.btn {
  background: var(--active-color);
  color: var(--white);
}

.btn:hover {
  transition: var(--transition);
  background: transparent;
  color: var(--active-color);
  border: 2px solid var(--active-color);
}

/* Tablet & Desktop */
@media (min-width: 768px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    gap: 3rem;
  }

  .heroImage {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .heroText {
    flex: 2;
  }

  .heroText h1 {
    font-size: 2.5rem;
  }

  .heroText h2 {
    font-size: 1.5rem;
  }

  .heroText p {
    font-size: 1.1rem;
  }

  .socialLinks,
  .buttons {
    justify-content: flex-start;
  }
}
