:root {
  --white: #fff;
  --active-color: #ff6584;
  --bg-light: #fdf9ff;
  --bg-dark: #2c2c2c;
  --bg-sidebar: #fdf9ff;
  --text-light: #555;
  --text-color: #333;
  --border-btm: #ddd;
  
  --max-width: 1200px;
  --transition: all 0.3s ease-in-out;

  --f-fam: 'IBM Plex Sans Devanagari', sans-serif;
}
